@font-face {
    font-family: 'VTC-GarageSale';
    src: url('VTC-GarageSale.woff2') format('woff2'),
        url('VTC-GarageSale.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

